/**********/
/* HEADER */
/**********/
.header {
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  font-size: 2.4rem;
  height: 8rem;
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 100;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/**************/
/* NAVIGATION */
/**************/
.tbc-icon {
  height: 2.4rem;
  filter: brightness(0);
  opacity: 60%;
  margin-right: 0.8rem;
}

.concept {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.nav-svg {
  font-size: 2rem;
  margin-right: 0.8rem;
}

.main-nav {
  margin: 0 1.8rem 0 1.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1.6rem;
  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #111111;
  text-shadow: 0 0 1.6rem #55555580;
}

.search {
  margin-right: 2.4rem;
  cursor: pointer;

  transition: 200ms linear;
}

.search:hover {
  color: #007aff;
  transition: 200ms linear;
}

.arrow-link {
  margin-right: 2.4rem;

  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #182cc0;

  display: flex;
  align-items: center;

  transition: 200ms linear;
}

.arrow-link:hover {
  color: #007aff;
  transition: 200ms linear;
}

.localization {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;

  transition: 200ms linear;
}

.localization:hover {
  background-color: #eef1f1;
  transition: 200ms linear;
}

/**********************/
/* SMALL MAIN HEADING */
/**********************/

.main-heading-small {
  margin: 1.2rem 0 4.8rem 0;
  padding: 2rem 0;
  font-size: 1.2rem;
}

/****************/
/* HERO SECTION */
/****************/
.section-hero {
  color: #fff;
  padding: 3.2rem 0;
}

.background-img-one {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://static.tbcconcept.ge/desktop/media/ze324k50.yq4Become-2.webp");
  background-size: cover;
  border-radius: 0.8rem;
}

.section-hero-heading {
  font-size: 2.8rem;
  font-weight: 700;

  margin-bottom: 2.4rem;
}

.section-hero-description {
  font-size: 1.6rem;
  font-weight: 300;

  margin-bottom: 2.4rem;
}

/***********************/
/* BIG MESSAGE SECTION */
/***********************/
.section-big-message-text {
  font-size: 3.2rem;
  font-weight: 600;

  color: #141719;
  letter-spacing: 1.2px;
}

/**************************/
/* BECOME CONCEPT SECTION */
/**************************/
.package-container {
  padding: 4rem;
  color: #fff;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;

  background-position: center;
  border-radius: 1.2rem;
  transition: background-size 0.3s ease-in-out,
    background-position 0.3s ease-in-out;
}

.package-container a {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.package-name {
  margin: 8.6rem 0 1.2rem 0;
  font-size: 2.4rem;
}

.digital-background {
  background-image: linear-gradient(
      to right bottom,

      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://static.tbcconcept.ge/desktop/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png");

  background-size: 100%;
}

.digital-background:hover {
  background-size: 103%;
}

.premium-background {
  background-image: linear-gradient(
      to right bottom,

      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://static.tbcconcept.ge/desktop/media/0m25n3qt.w03prem.png");

  background-size: 100%;
}

.premium-background:hover {
  background-size: 103%;
}

.background-360 {
  background-image: linear-gradient(
      to right bottom,

      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://static.tbcconcept.ge/desktop/media/nqeaa1rb.avl360.png");

  grid-row: span 2;

  background-size: 187%;
}

.background-360:hover {
  background-size: 192%;
}

/*******************/
/* NUMBERS SECTION */
/*******************/
.section-numbers {
  display: flex;
  grid-column-gap: 30px;
}

.numbers-container {
  padding: 4rem 4.8rem;
  color: #141719;

  grid-row-gap: 16px;
  border-radius: 0.8rem;
  box-shadow: 0 0 10rem 3.2rem #eeeeee60;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.numbers-container h3 {
  font-size: 4.4rem;
  font-weight: 700;
}

.numbers-container p {
  font-size: 1.6rem;
  font-weight: 500;
}
/******************/
/* OFFERS SECTION */
/******************/
.offers-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.offers-wrapper {
  overflow-x: scroll;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3.2rem;

  /* FOR MOZILA */
  scrollbar-width: none;
  /* FOR Old MOZILA */
  overflow: -moz-scrollbars-none;
}

.offers-wrapper::-webkit-scrollbar {
  /* FOR CHROME */
  display: none;
}

.offers-item {
  border: 1px solid #e1e4e5;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.4rem;

  transition: 200ms linear;
}

.offers-item img {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.offers-item:hover {
  box-shadow: 0 0 3.2rem rgba(20, 23, 25, 0.1);

  transition: 200ms linear;
}

.offers-item h3 {
  font-size: 1.6rem;
  font-weight: 700;

  color: #141719;
  padding: 0 2.8rem 3.6rem 2.8rem;
}

.offer-tags {
  padding: 2.8rem 2.8rem 0 2.8rem;
  font-weight: 600;

  display: flex;
  gap: 0.8rem;
}

.slider-container {
  display: flex;

  justify-content: space-between;
}

.slider-buttons {
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.slider-buttons ion-icon {
  transition: 200ms linear;

  cursor: pointer;
}

.slider-buttons ion-icon:hover {
  color: #007aff;

  transition: 200ms linear;
}

.slider-container .slider-scrollbar {
  height: 2.4rem;
  width: 90%;

  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  position: relative;
  height: 0.2rem;
  width: 100%;
  background-color: #ccc;
  border-radius: 0.4rem;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 25%;
  background-color: #182cc0;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 0.4rem;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  bottom: -1rem;
}

.slider-scrollbar .scrollbar-track:active {
  cursor: grabbing;
  height: 0.8rem;
  top: -2px;
}
