/**********/
/* HEADER */
/**********/
header {
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  width: 100%;
  overflow-x: hidden;

  z-index: 100;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  font-size: 2.4rem;
  /* width: 100%; */
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**************/
/* NAVIGATION */
/**************/
.burger-menu {
  display: none;

  cursor: pointer;
}

.close {
  display: none;

  cursor: pointer;
}

.tbc-icon {
  height: 2.4rem;
  filter: brightness(0);
  opacity: 60%;
  margin-right: 0.8rem;
}

.concept {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
}

.nav-svg {
  font-size: 2rem;
  margin-right: 0.8rem;
}

.main-nav {
  margin: 0 1.8rem 0 1.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1.6rem;
  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #111111;
  text-shadow: 0 0 1.6rem #55555580;
}

.search {
  margin-right: 2.4rem;
  cursor: pointer;

  transition: 200ms linear;
}

.search:hover {
  color: #007aff;
  transition: 200ms linear;
}

.arrow-link {
  margin-right: 2.4rem;

  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #182cc0;

  display: flex;
  align-items: center;

  transition: 200ms linear;
}

.arrow-link:hover {
  color: #007aff;
  transition: 200ms linear;
}

.localization {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;

  transition: 200ms linear;
}

.localization:hover {
  background-color: #eef1f1;
  transition: 200ms linear;
}

.mobile-navigation {
  position: fixed;
  opacity: 0;
  top: 8.1rem;
  z-index: -100;
  height: 100dvh;
  width: 100dvw;

  background-color: #ffffff;

  transition: opacity 0.5s linear, z-index 0.5s linear;
}

.accordian {
  overflow: hidden;
}

.accordian-item {
  border-bottom: 1px solid #eef1f1;
  overflow: hidden;

  padding: 3.6rem 3.6rem 0 3.6rem;
}

.accordian-item .subheading {
  margin-bottom: 2.4rem;
  cursor: pointer;
}

.accordian-item span {
  font-weight: 500;
  transform: rotate(90deg);
  opacity: 0.7;
}

.accordian-item ul {
  list-style-type: none;

  font-size: 1.4rem;
}

.accordian-content {
  max-height: 0;

  transition: max-height ease-in 1000ms;
}

.accordian-item li {
  margin-bottom: 1.4rem;
  color: inherit;
  cursor: pointer;

  transition: 200ms linear;
}

.accordian-item li:hover {
  color: #182cc0;

  transition: 200ms linear;
}

.open {
  max-height: 400px;
}

.mobile-navigation .container-margin {
  padding-top: 2.4rem;
}
/**********************/
/* SMALL MAIN HEADING */
/**********************/

.main-heading-small {
  margin: 1.2rem 0 4.8rem 0;
  padding-top: 2rem;
  font-size: 1.2rem;
}

/****************/
/* HERO SECTION */
/****************/
.section-hero {
  color: #fff;
  padding: 3.2rem 0;
}

.background-img-one {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://static.tbcconcept.ge/desktop/media/ze324k50.yq4Become-2.webp");
  background-size: cover;
  border-radius: 0.8rem;
}

.background-img-two {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://static.tbcconcept.ge/desktop/media/nvmgsymp.3xqprivate banker.png");
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
}

.section-hero-heading {
  font-size: 2.8rem;
  font-weight: 700;

  margin-bottom: 2.4rem;
}

.description {
  font-size: 1.6rem;
  font-weight: 300;

  margin-bottom: 2.4rem;
}

/***********************/
/* BIG MESSAGE SECTION */
/***********************/
.section-big-message-text {
  font-size: 3.2rem;
  font-weight: 600;

  color: #141719;
  letter-spacing: 1.2px;
}

/**************************/
/* BECOME CONCEPT SECTION */
/**************************/
.package-container {
  padding: 4rem;
  color: #fff;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;

  background-position: center;
  border-radius: 1.2rem;
  transition: background-size 0.3s ease-in-out,
    background-position 0.3s ease-in-out;
}

.package-container a {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.package-name {
  margin: 8.6rem 0 1.2rem 0;
  font-size: 2.4rem;
}

.digital-background {
  background-image: linear-gradient(
      to right bottom,

      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://static.tbcconcept.ge/desktop/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png");

  background-size: 100%;
}

.digital-background:hover {
  background-size: 103%;
}

.description-mob {
  display: none;
}

.digital-bank-downloads-btn-mob {
  display: none;
}
.premium-background {
  background-image: linear-gradient(
      to right bottom,

      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://static.tbcconcept.ge/desktop/media/0m25n3qt.w03prem.png");

  background-size: 100%;
}

.premium-background:hover {
  background-size: 103%;
}

.background-360 {
  background-image: linear-gradient(
      to right bottom,

      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://static.tbcconcept.ge/desktop/media/nqeaa1rb.avl360.png");

  grid-row: span 2;

  background-size: 187%;
}

.background-360:hover {
  background-size: 192%;
}

/*******************/
/* NUMBERS SECTION */
/*******************/
.section-numbers .container-margin {
  display: flex;
  grid-column-gap: 30px;
}

.numbers-container {
  padding: 4rem 4.8rem;
  color: #141719;

  grid-row-gap: 16px;
  border-radius: 0.8rem;
  background-color: rgb(254, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.numbers-container h3 {
  font-size: 4.4rem;
  font-weight: 700;
}

.numbers-container p {
  font-size: 1.6rem;
  font-weight: 500;
}
/******************/
/* OFFERS SECTION */
/******************/
.offers-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.offers-wrapper {
  overflow-x: scroll;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3.2rem;

  /* FOR MOZILA */
  scrollbar-width: none;
  /* FOR Old MOZILA */
  overflow: -moz-scrollbars-none;
}

.offers-wrapper::-webkit-scrollbar {
  /* FOR CHROME */
  display: none;
}

.offers-item {
  border: 1px solid #e1e4e5;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.4rem;

  transition: 200ms linear;

  cursor: pointer;
}

.offers-item img {
  height: 20.5rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.offers-item:hover {
  box-shadow: 0 0 3.2rem rgba(20, 23, 25, 0.1);

  transition: 200ms linear;
}

.offers-item h3 {
  font-size: 1.6rem;
  font-weight: 700;

  color: #141719;
  padding: 0 2.8rem 3.6rem 2.8rem;
}

.offer-tags {
  padding: 2.8rem 2.8rem 0 2.8rem;
  font-weight: 600;

  display: flex;
  gap: 0.8rem;
}

.slider-container {
  display: flex;

  justify-content: space-between;
  overflow-x: hidden;
}

.offers-slider-buttons {
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.offers-slider-buttons ion-icon {
  transition: 200ms linear;

  cursor: pointer;
}

.offers-slider-buttons ion-icon:hover {
  color: #007aff;

  transition: 200ms linear;
}

.slider-container .offers-slider-scrollbar {
  height: 2.4rem;
  width: 90%;

  display: flex;
  align-items: center;
}

.offers-slider-scrollbar .scrollbar-track {
  position: relative;
  height: 0.2rem;
  width: 100%;
  background-color: #ccc;
  border-radius: 0.4rem;
}

.offers-slider-scrollbar .offers-scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 25%;
  background-color: #182cc0;
  border-radius: inherit;
  cursor: grab;
}

.offers-slider-scrollbar:hover .scrollbar-track {
  height: 0.4rem;
}

.offers-slider-scrollbar .offers-scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  bottom: -1rem;
}

.offers-slider-scrollbar .scrollbar-track:active {
  cursor: grabbing;
  height: 0.8rem;
  top: -2px;
}

/******************/
/* DIGITAL BANK SECTION */
/******************/
.section-digital-bank {
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 20px;
}

.section-digital-bank img {
  height: 37rem;
}

.section-digital-bank .flex-column-left {
  padding: 0;
}

.digital-bank-downloads-btn span {
  font-size: 1rem;
  font-weight: 500;
}

.digital-bank-downloads-btn p {
  font-size: 1.4rem;
}

/********************/
/* PRODUCTS SECTION */
/********************/
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.products h3 {
  padding-bottom: 0;
}

.products img {
  height: 20rem;
}

.products div {
  padding-top: 0;
  padding-bottom: 1.4rem;

  font-weight: 400;
  font-size: 1.4rem;
}

.products-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.4rem;
}

.products-buttons ion-icon {
  transition: 200ms linear;

  cursor: pointer;
}

.products-buttons ion-icon:hover {
  color: #007aff;

  transition: 200ms linear;
}

/******************/
/* AWARDS SECTION */
/******************/
.awards-wrapper {
  overflow-x: scroll;
  display: flex;

  gap: 3.2rem;

  /* FOR MOZILA */
  scrollbar-width: none;
  /* FOR Old MOZILA */
  overflow: -moz-scrollbars-none;
}

.awards-wrapper::-webkit-scrollbar {
  /* FOR CHROME */
  display: none;
}

.awards-item img {
  height: 5.2rem;
  width: auto;
}

.awards-image-wrapper {
  width: 28rem;
}

.awards-image-wrapper:last-child {
  padding-right: 25rem;
}

.awards-item {
  border: 1px solid #e1e4e5;
  border-radius: 0.8rem;
  padding: 2.8rem;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.4rem;
  margin-bottom: 2.4rem;

  transition: 200ms linear;

  cursor: pointer;
  width: 100%;
}

.awards-item:hover {
  box-shadow: 0 0 3.2rem rgba(20, 23, 25, 0.1);

  transition: 200ms linear;
}

.awards-item h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #141719;
}

.awards-item p {
  font-size: 1.4rem;
  font-weight: 300;
}

.awards-slider-buttons {
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.awards-slider-buttons ion-icon {
  transition: 200ms linear;

  cursor: pointer;
}

.awards-slider-buttons ion-icon:hover {
  color: #007aff;

  transition: 200ms linear;
}

.slider-container .awards-slider-scrollbar {
  height: 2.4rem;
  width: 90%;

  display: flex;
  align-items: center;
}

.awards-slider-scrollbar .scrollbar-track {
  position: relative;
  height: 0.2rem;
  width: 100%;
  background-color: #ccc;
  border-radius: 0.4rem;
}

.awards-slider-scrollbar .awards-scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 25%;
  background-color: #182cc0;
  border-radius: inherit;
  cursor: grab;
}

.awards-slider-scrollbar:hover .scrollbar-track {
  height: 0.4rem;
}

.awards-slider-scrollbar .awards-scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  bottom: -1rem;
}

.awards-slider-scrollbar .scrollbar-track:active {
  cursor: grabbing;
  height: 0.8rem;
  top: -2px;
}

footer {
  background-color: white;
}

/******************/
/* FOOTER  */
/******************/
.footer-mob {
  display: none;
}

.footer-mob .accordian {
  margin-bottom: 2.4rem;
}

.footer-mob .footer-bottom {
  background-color: #f9fafa;
}

.footer-mob .footer-bottom div {
  padding: 2.4rem 0;
}

.footer-top {
  padding-top: 2.8rem;
  /* background-color: #fff; */
  max-width: 110rem;
  margin: 0 auto;
}

.footer-mid {
  padding-top: 2.8rem;
  max-width: 110rem;
  margin: 0 auto;
}

.footer-subheading {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  color: #141719;
  padding-bottom: 2.4rem;
}

.footer-links {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-links a {
  font-size: 1.4rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  transition: 200ms linear;
}

.footer-links ion-icon {
  font-size: 1.6rem;
  font-weight: 700;
  --ionicon-stroke-width: 4.8rem;
}

.footer-links a:hover {
  color: #182cc0;

  transition: 200ms linear;
}

.footer-icons {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.4rem;
}

.footer-icons div {
  display: flex;
  gap: 1.4rem;
}

.footer-icons ion-icon {
  font-size: 2.4rem;

  border-radius: 1.4rem;
  background-color: #eeeeee;
  padding: 1.4rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eef1f1;

  padding: 2.4rem 0;
  max-width: 110rem;
  margin: 0 auto;
}

.footer-bottom div {
  display: flex;
  align-items: center;

  font-size: 1.2rem;
}

.footer-bottom a {
  cursor: pointer;

  transition: 200ms linear;
}

.footer-bottom a:hover {
  color: #182cc0;

  transition: 200ms linear;
}

.footer-mob .accordian-item {
  padding-left: 0;
}
